@import "../../../styles.scss";

main {
  position: relative;
}

.modal {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: contrast(0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.isopen {
  display: flex;
}
.modal-container {
  height: fit-content;
  width: 95%;
  position: absolute;
  top: 20%;
}
